* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    width: 60px;
    height: 100vh;
    background: #2c3e50;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
}

.sidebar:hover {
    width: 200px;
}

.sidebar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

}
.sidebar ul li {
    padding: 10px 10px;
    border-bottom: 2px solid #3889f3;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.sidebar ul li:hover {
    background-color: #3889f3;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 60px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.sidebar ul li a span {
    display: none;
}

.sidebar ul li a i {
    font-size: 20px;
    width: 40px;
}
.sidebar:hover ul li a span {
    display: inline;
}